<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Test Suite" >
	<listeners>
		<listener
			class-name="com.qa.orangehrm.listeners.ExtentReport" />
	</listeners>
	<!-- cross browser testing using parameter value -->
	 <test name="OrangeHRM Login Page Test">
	    <parameter name="browser" value="chromium"/>
      <classes>
      <class name="com.qa.orangehrm.tests.LoginPageTest"/>
      </classes>
   </test>
	<test name="OrangeHRM Login Page Test1">
		<parameter name="browser" value="safari"/>
		<classes>
			<class name="com.qa.orangehrm.tests.LoginPageTest"/>
		</classes>
	</test>




</suite> 